<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn7WImAsux6Y2o7lrT3PCBf0GZqx3xOr0</string>
	<key>GCM_SENDER_ID</key>
	<string>454798697385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parleapp.mobile</string>
	<key>PROJECT_ID</key>
	<string>parleapp-bc476</string>
	<key>STORAGE_BUCKET</key>
	<string>parleapp-bc476.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454798697385:ios:a92bfa52b3ca2fcd7c1ab8</string>
</dict>
</plist>